@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin arrow-helper() {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
}

main {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  background-color: $amareloPastel;

  article {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding: 0 4rem;

    h1,
    h2,
    h3 {
      font-weight: 600;
      line-height: 2.9rem;
      max-width: 57rem;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.8rem;
      color: $cinza;
    }

    h3 {
      font-size: 1.5rem;
      color: $roxo;
    }

    img {
      max-width: 32rem;
    }

    .slider-clareamento {
      font-size: 0;

      .antes,
      .depois {
        height: 100%;

        img {
          border-radius: 5px;
        }
      }

      .antes {
        position: relative;
      }

      .depois {
        top: 0;
        left: 0;
        position: absolute;
        width: 50%;

        img {
          width: 100%;
          height: 100%;
          object-position: 0 100%;
          object-fit: cover;
        }
      }

      .slider {
        top: 0;
        position: absolute;
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 100%;
        background: transparent;
        outline: none;
        margin: 0;
        transition: all .2s;
        @include center;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 6px;
          height: 211px;
          background: $amareloPastel;
          cursor: pointer;
        }

        &::-moz-range-thumb {
          width: 6px;
          height: 211px;
          background: $amareloPastel;
          cursor: pointer;
        }
      }

      .slider-button {
        $size: 30px;
        pointer-events: none;
        position: absolute;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: $cobreClaro;
        animation: pulse-animation 2s infinite;
        left: calc(50% - 18px);
        top: calc(50% - 18px);
        @include center;

        @mixin arrow-helper() {
          content: '';
          padding: 3px;
          display: inline-block;
          border: solid $preto;
          border-width: 0 2px 2px 0;
        }

        &:after {
          @include arrow-helper();
          transform: rotate(-45deg);
        }

        &:before {
          @include arrow-helper();
          transform: rotate(135deg);
        }
      }

      @keyframes pulse-animation {
        0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }

        100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
      }
    }

    p,
    blockquote,
    address,
    span,
    ul {
      max-width: 57rem;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.9rem;
      margin-bottom: 2rem;
    }

    i {
      color: $cinza;
      font-weight: 500;
    }

    ul {
      padding-left: 4rem;
      list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Ccircle id='Elipse_80' data-name='Elipse 80' cx='6' cy='6' r='6' fill='%239b1982'/%3E%3C/svg%3E%0A");

      li {
        line-height: 2.1rem;
      }
    }

    .author {
      address {
        color: $cobreEscuro;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .img-tratamentos {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      img {
        border-radius: 5% 5% 5% 0;
        box-shadow: 2px 2px 1px $sombra;
      }

      margin-bottom: 2rem;
    }

    .img-pacientes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      margin-bottom: 2rem;
      position: relative;

      img {
        border-radius: 1%;
        box-shadow: 3px 3px 1px $sombra;
        max-width: 20rem;
      }
    }

    a {
      cursor: pointer;
      color: $roxo;

      &:hover {
        color: $roxoTransparente;
        text-decoration: underline;
      }
    }

    @keyframes nudge-small {

      0%,
      100% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(5px, 0);
      }

      80% {
        transform: translate(-5px, 0);
      }
    }

    @keyframes nudge {

      0%,
      100% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(10px, 0);
      }

      80% {
        transform: translate(-10px, 0);
      }
    }

    @keyframes nudge-inverse {

      0%,
      100% {
        transform: translate(0, 0);
      }

      50% {
        transform: translate(-10px, 0);
      }

      80% {
        transform: translate(10px, 0);
      }
    }

    @media only screen and (max-width: 640px) {
      h1 {
        font-size: 2.2rem;
        line-height: 2.55rem;
      }

      h2 {
        line-height: 2.2rem;
      }

      h3 {
        line-height: 2rem;
      }

      ul {
        padding-left: 2rem;
      }

      img {
        max-width: 100%;
      }

      .imagem-1 {
        &:before {
          width: 16rem;
          height: 16rem;
          left: 2rem;
          top: -2rem;
        }

        &:after {
          width: 12rem;
          height: 12rem;
          left: 7rem;
          bottom: -2rem;
        }
      }

      .img-pacientes {
        img {
          max-width: 16rem;
        }
      }
    }
  }

  .social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    justify-content: center;

    img {
      width: 2.5rem;
    }
  }
}