<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#introducao" onclick="document.getElementById('menuButton').checked = false">Introdução</a>
        <a href="#o-que-faz" onclick="document.getElementById('menuButton').checked = false">O que faz?</a>
        <a href="#porque-consultar" onclick="document.getElementById('menuButton').checked = false">Por que
          consultar?</a>
        <a href="#cirurgiao-dentista" onclick="document.getElementById('menuButton').checked = false">Cirurgião
          dentista</a>
        <a href="#consulta" onclick="document.getElementById('menuButton').checked = false">Sobre a consulta</a>
        <a href="#como-encontrar" onclick="document.getElementById('menuButton').checked = false">Como encontrar?</a>

        <a href="https://auroraodontologia.com.br/" target="_blank">Conheça a clínica</a>
      </div>
    </nav>
  </div>

  <span class="logo">
    <img src="../../img/logo.svg" width="118" alt="logo" />
  </span>
  <span class="tagline">
    Singular, Integrada, <strong>Especialista em você</strong>
  </span>
</div>