<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#introducao" onclick="document.getElementById('menuButton').checked = false">Introdução</a>
        <a href="#ortodontistaop" onclick="document.getElementById('menuButton').checked = false">Como encontrar?</a>
        <a href="#especialidade-orto" onclick="document.getElementById('menuButton').checked = false">O que faz?</a>
        <a href="#tratamentos" onclick="document.getElementById('menuButton').checked = false">Tratamentos</a>
        <a href="#retratamentos" onclick="document.getElementById('menuButton').checked = false">Retratamentos</a>
        <a href="#diagnostico" onclick="document.getElementById('menuButton').checked = false">Diagnóstico</a>
        <a href="#conclusao" onclick="document.getElementById('menuButton').checked = false">Conclusão</a>


        <a href="https://auroraodontologia.com.br/" target="_blank">Conheça a clínica</a>
      </div>
    </nav>
  </div>

  <span class="logo">
    <img src="../../img/logo.svg" width="118" alt="logo" />
  </span>
  <span class="tagline">
    Singular, Integrada, <strong>Especialista em você</strong>
  </span>
</div>