h1 {
  font-weight: 400;
}

strong {
  font-weight: 600
}

a {
  all: unset;
}

.action-button {
  width: 310px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  font-size: 18px;
  background-color: $amarelo;
  color: $cinza;
  font-weight: 700;
  display: inline-block;
  box-shadow: 5px 5px 0px $sombra;

  &:hover {
    color: $roxo;
    cursor: pointer;
  }
}