footer {
  #rodape {
    display: flex;
    background-color: $roxo;
    height: 37vw;

    .container {
      filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.2));

      .bg {
        margin-top: -13vw;
        position: absolute;
        background-color: $amareloPastel;
        clip-path: ellipse(50vw 45vw at -20vw 42vw);
        width: 50vw;
        height: 50vw;

        .info {
          gap: 35px;
          flex: 1;
          align-items: flex-start;
          display: flex;
          max-width: 35vw;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          padding-top: 20%;
          padding-left: 10%;

          >div {
            font-weight: 400;
            font-size: 1.625rem;
            line-height: 1.938rem;
            color: $cinza;
          }

          .telefone,
          .instagram {

            >span,
            >img {
              vertical-align: middle;
            }
          }

          .icon {
            line-height: 1.938rem;
            width: 2rem;
          }

          .endereco {
            max-width: 224px;
            font-size: 1rem;
            line-height: 1.188rem;
          }

          .logo {
            img {
              max-width: 10.938rem;
            }
          }
        }
      }
    }

    .mapa {
      display: flex;
      flex: 1;
      height: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    #rodape {
      height: 700px;

      .container {
        height: 600px;

        .bg {
          bottom: -400px;
          clip-path: ellipse(804px 850px at 170px 1150px);
          // clip-path: ellipse(520px 710px at 100px 1130px);
          width: 800px;
          height: 890px;

          .info {
            gap: 35px;
            height: 100%;
            padding-top: 350px;
            padding-left: 50px;

            >div {
              font-weight: 400;
              font-size: 1.625rem;
              line-height: 1.938rem;
              color: $cinza;
            }

            .telefone,
            .instagram {

              width: 250px;

              >span,
              >img {
                vertical-align: middle;
              }
            }

            .icon {
              line-height: 1.938rem;
              width: 2rem;
            }

            .endereco {
              width: 250px;
              font-size: 1rem;
              line-height: 1.188rem;
            }

            .logo {
              img {
                // max-width: 175px;
              }
            }
          }
        }
      }

      .mapa {
        display: flex;
        flex: 1;
        // height: 100vw;
      }
    }
  }
}