header {
  .container {
    font-size: 1rem;
    padding: 4.5rem 0 7rem 0;
    background-color: $roxo;
    text-align: center;

    img {
      width: 16.2rem;
    }

    .menu {
      #menu {
        background: $roxoTransparente;
        width: 100%;
        height: 100vh;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 11;
        transition: 0.5s;

        .items {
          color: white;
          position: absolute;
          cursor: pointer;
          width: 31.2rem;
          left: 14rem;
          top: 10.7rem;
          display: flex;
          text-align: left;
          justify-content: space-between;
          flex-direction: column;
          font-size: 1.5em;
          z-index: 12;

          a {
            padding: 0 0 3.2rem 0;
          }
        }
      }

      #menuButton {
        display: none;
      }

      #menuButton:checked~#menu {
        transition-timing-function: cubic-bezier(10, 2, 3, 1);
        transform: translateX(100%);
      }

      #menuLabel {
        position: absolute;
        cursor: pointer;
        width: 4.5rem;
        height: 3rem;
        left: 6rem;
        top: 6.7rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 99;

        &:before {
          content: '';
          position: absolute;
          top: -2rem;
          left: -1.3rem;
          width: 7rem;
          height: 7rem;
          background-color: $roxo;
          border-radius: 50%;
          box-shadow: 0.1rem 0.1rem 0.5rem $sombra;
        }
      }

      #menuLabel>span {
        height: 0.2rem;
        background-color: white;
        transition: 0.5s;
        z-index: 999;
      }

      #menuButton:checked~#menuLabel>span {
        background-color: #fff;
      }

      #menuButton:checked~#menuLabel>span:nth-child(1) {
        transform: translateY(1.3rem) rotate(45deg);
      }

      #menuButton:checked~#menuLabel>span:nth-child(2) {
        opacity: 0;
      }

      #menuButton:checked~#menuLabel>span:nth-child(3) {
        transform: translateY(-1.5rem) rotate(-45deg);
      }
    }

    @media only screen and (max-width: 480px) {
      padding: 2rem 3rem 2rem 0;
      text-align: right;

      img {
        width: 13rem;
      }

      .menu {
        #menu {
          left: -100%;
          top: 0;

          .items {
            color: white;
            position: absolute;
            cursor: pointer;
            width: 31.2rem;
            left: 10%;
            top: 16%;

            a {
              padding: 0 0 3.2rem 0;
            }
          }
        }

        #menuLabel {
          left: 3rem;
          top: 4rem;
        }
      }
    }
  }
}