.conceito {

  .container {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: $roxo;
    color: white;

    div {
      flex: 1
    }

    .tagline {
      p {
        max-width: 280px;
      }
    }
  }
}