$branco: #FFFFFF;
$preto: #000000;
$cinza: #696969;
$roxo: #9B1982;
$roxoTransparente: rgba(155, 25, 130, 0.85);
$amarelo: #FAE14B;
$amareloPastel: #FFF5DC;
$cobreEscuro: #A56E73;
$cobreClaro: #D2B4AF;
$sombra: rgba(0, 0, 0, 0.25);