@import "variables";
@import "normalize";

body {
  background-color: cadetblue;
}

header {
  background-color: aliceblue;
}

main {
  background-color: aquamarine;
}

footer {
  background-color: beige;
}