@import "variables";
@import "normalize";
@import "fonts";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway';
  background-color: $roxo;

  @import "common";
  @import "header";
  @import "main";
  @import "footer";
}

html {
  font-size:10px;
  @media only screen and (min-width: 1441px) {
    font-size: calc(10px + 0.15vw);
  }
}

//grids
.container-grid-12{
  --grid-margin:3.2rem;
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.6rem;
  width: calc(100% - (2 * var(--grid-margin)));
  
  @media only screen and (max-width: 767px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    --grid-margin:4rem;
  }
  @media only screen and (min-width: 1921px) {
    --grid-margin: 5vw;    
  }
}

@for $i from 1 through 12{
  .g-#{$i}col{
    grid-column: span #{$i}/span #{$i} ;
  }
}
@for $i from 1 through 12{
  .g-#{$i}offset{
    grid-column-start:#{$i+1};
  }
}
