<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#introducao" onclick="document.getElementById('menuButton').checked = false">Introdução</a>
        <a href="#dicas" onclick="document.getElementById('menuButton').checked = false">3 dicas</a>
        <a href="#bonus" onclick="document.getElementById('menuButton').checked = false">Dica Bônus</a>

        <a href="https://auroraodontologia.com.br/" target="_blank">Conheça a clínica</a>
      </div>
    </nav>
  </div>

  <span class="logo">
    <img src="../../img/logo.svg" width="118" alt="logo" />
  </span>
  <span class="tagline">
    Singular, Integrada, <strong>Especialista em você</strong>
  </span>
</div>