<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description"
    content="Sabe o que é parestesia bucal? Basicamente, é uma sensação de formigamento na boca causada por diversos fatores. Acompanhe no blog da Aurora e saiba mais sobre essa condição!" />
  <meta property="image" content="/img/querymeta.webp" />

  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Parestesia bucal: o que é, causas e tratamentos" />
  <meta property="og:description"
    content="Sabe o que é parestesia bucal? Basicamente, é uma sensação de formigamento na boca causada por diversos fatores. Acompanhe no blog da Aurora e saiba mais sobre essa condição!" />
  <meta property="og:url" content="https://auroraodontologia.com.br/blog/parestesia-o-que-e/" />
  <meta property="og:site_name" content="Aurora Odontologia" />
  <meta property="og:image" content="/img/querymeta.webp">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://auroraodontologia.com.br/blog/parestesia-o-que-e/">
  <meta property="twitter:title" content="Parestesia bucal: o que é, causas e tratamentos">
  <meta property="twitter:description"
    content="Sabe o que é parestesia bucal? Basicamente, é uma sensação de formigamento na boca causada por diversos fatores. Acompanhe no blog da Aurora e saiba mais sobre essa condição!">
  <meta property="twitter:image" content="/img/querymeta.webp">

  <link rel="canonical" href="https://auroraodontologia.com.br/blog/parestesia-o-que-e/" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">

  <title>Parestesia bucal: o que é, causas e tratamentos</title>

  <% if(GA) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K65XDXS8W3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K65XDXS8W3');</script>
    <% } %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <%- include('partials/main'); %>
  </main>

  <footer>
    <%- include('../partials/common/footer'); %>
  </footer>
</body>

</html>