<div class="actions">
  <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
    <span>Vamos agendar uma consulta?</span>
  </a>

  <a class="action-button-inverse" target="_blank" href="#">
    <span>Deixe seu comentário</span>
  </a>
</div>