<div class="actions">
  <a class="action-button" target="_blank" onclick="gtag_report_conversion(this, 'AW-10877445993/nu9eCO6is84DEOnO4sIo')"
    data-link="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
    <span>Vamos agendar uma consulta?</span>
  </a>

  <a class="action-button-inverse" target="_blank" href="https://g.page/r/CcYml5fJsmmeEB0/review">
    <span>Deixe seu comentário</span>
  </a>
</div>