<div class="carousel">
  <div class="left">
    <a href="" class="arrow left"></a>
  </div>


  <div class="foto">foto
    <img src="" alt="">
  </div>
  <div class="texto">
    <p class="nome">Nome Sobrenome</p>
    <p class="descricao">Curabitur id vestibulum velit, vel lobortis odio. Nulla facilisi. Nulla pretium varius velit
      suscipit malesuada. Sed vel lobortis lorem, at tincidunt nisl. Pellentesque eleifend libero erat, vel vehicula
      tellus aliquam a.</p>
  </div>


  <div class="right">
    <a href="" class="arrow right"></a>
  </div>
  <div class="slider">bolotinhas</div>
</div>