<div class="carousel">
  <div class="slide-left">
    <div class="arrows">
      <a id="commentsArrowLeft" class="arrow left"></a>
    </div>
  </div>

  <div id="c-slider">
    <% comentarios.forEach(function(comentario) { %>
      <div class="keen-slider__slide">
        <div class="content">
          <div class="foto">
            <img alt="Foto de perfil" src="/img/<%= comentario.img %>"
              onerror="this.onerror=null;this.src='/img/<%= comentario.img %>'" loading="lazy">
          </div>
          <div class="texto">
            <p class="nome">
              <%= comentario.name %>
            </p>
            <p class="descricao">
              <%= comentario.text %>
            </p>
          </div>
        </div>
      </div>
      <% }); %>
  </div>

  <div class="slide-right">
    <div class="arrows">
      <a id="commentsArrowRight" class="arrow right"></a>
    </div>
  </div>

  <div id="commentsDots" class="dots">
    <% comentarios.forEach(function(comentario) { %>
      <span></span>
      <% }); %>
  </div>
</div>