<div class="container">
  <div>
    <h2>Opiniões dos nossos pacientes</h2>

    <div>
      <%- include('carousel'); %>
    </div>

    <div>
      <%- include('acoes'); %>
    </div>
  </div>
</div>