<article>
  <header id="introducao">
    <h1>Clareamento Dental</h1>

    <div class="author">
      <address>27/08/2022 por <strong>Equipe Aurora</strong></address>
    </div>

    <div class="slider-clareamento">
      <div id="antes" class="antes">
        <img src="/img/blog/clareamento-dental/antes.jpg"
          onerror="this.onerror=null;this.src='/img/blog/clareamento-dental/antes.jpg'"
          alt="Sorriso mostrando todos os dentes, antes do clareamento">

        <div id="depois" class="depois">
          <img src="/img/blog/clareamento-dental/depois.jpg"
            onerror="this.onerror=null;this.src='/img/blog/clareamento-dental/depois.jpg'"
            alt="Sorriso mostrando todos os dentes, após clareamento">
        </div>

        <input type="range" min="1" max="100" value="50" name='slider' id="slider" class="slider">
        <div id="sliderButton" class="slider-button"></div>
      </div>
    </div>

    <script>
      var slider = document.getElementById("slider");
      slider.oninput = function () {
        var value = document.getElementById("slider").value + "%";
        document.getElementById("depois").style.width = value;
        document.getElementById("sliderButton").style.left = "calc(" + value + " - 18px)";
      }
    </script>
  </header>

  <div class="social-media">
    <div id="facebook">
      <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
        href="https://www.facebook.com/sharer/sharer.php?u=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/"
        target="_blank">
        <img class="icon" src="../../img/facebook.svg" alt="facebook" />
      </a>
    </div>

    <div id="twitter">
      <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
        href="https://twitter.com/intent/tweet?url=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/&text="
        target="_blank">
        <img class="icon" src="../../img/twitter.svg" alt="twitter" />
      </a>
    </div>

    <div id="linkedin">
      <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
        href="https://www.linkedin.com/shareArticle?mini=true&url=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/&title=&summary=&source="
        target="_blank">
        <img class="icon" src="../../img/linkedin.svg" alt="linkedin" />
      </a>
    </div>

    <div id="whatsapp">
      <a href="https://api.whatsapp.com/send?text=%0ahttps://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/"
        target="_blank">
        <img class="icon" src="../../img/whatsapp-2.svg" alt="whatsapp" />
      </a>
    </div>
  </div>
</article>