<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#introducao" onclick="document.getElementById('menuButton').checked = false">Introdução</a>
        <a href="#inicio" onclick="document.getElementById('menuButton').checked = false">Por que os dentes
          escurecem?</a>
        <a href="#o-que-e" onclick="document.getElementById('menuButton').checked = false">O que é o clareamento?</a>
        <a href="#idade" onclick="document.getElementById('menuButton').checked = false">A partir de qual idade?</a>
        <a href="#tipos" onclick="document.getElementById('menuButton').checked = false">Tipos de clareamento</a>
        <a href="#efeitos" onclick="document.getElementById('menuButton').checked = false">Efeitos</a>
        <a href="#riscos" onclick="document.getElementById('menuButton').checked = false">Riscos</a>
        <a href="#para-quem" onclick="document.getElementById('menuButton').checked = false">Quem pode fazer?</a>
        <a href="#investimento" onclick="document.getElementById('menuButton').checked = false">Qual o investimento?</a>
        <a href="#onde-fazer" onclick="document.getElementById('menuButton').checked = false">Onde fazer o
          clareamento?</a>

        <a href="https://auroraodontologia.com.br/" target="_blank">Conheça a clínica</a>
      </div>
    </nav>
  </div>

  <span class="logo">
    <img src="../../img/logo.svg" width="118" alt="logo" />
  </span>
  <span class="tagline">
    Singular, Integrada, <strong>Especialista em você</strong>
  </span>
</div>