<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Aurora Odontologia" />
  <meta name="twitter:description" content="Aurora Odontologia" />
  <meta name="twitter:image" content="public/img/querymeta.png" />
  <meta property="og:title" content="Aurora Odontologia" />
  <meta property="og:site_name" content="auroraodontologia.com.br" />
  <meta property="og:image" itemprop="image" content="/public/img/querymeta.png" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">
  <meta property="og:description" content="Aurora Odontologia" />
  <title>Aurora Odontologia</title>
</head>

<body>

  <%- include('partials/header'); %>

  <div>Oi.</div>

  <%- include('partials/footer'); %>
</body>

<script type="text/javascript" src="/js/<%= jsIndex %>"></script>
</html>


