<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description"
    content="Descubra tudo sobre dentaduras removíveis, onde colocar em Ouro Preto, seus cuidados e vantagens, além de dicas essenciais de limpeza.Marque uma consulta para explorar as opções de tratamento que combinam com você!" />
  <meta property="image" content="/img/querymeta.webp" />

  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Como funciona a dentadura removível + 3 coisas que você precisa saber" />
  <meta property="og:description"
    content="Descubra tudo sobre dentaduras removíveis, onde colocar em Ouro Preto, seus cuidados e vantagens, além de dicas essenciais de limpeza.Marque uma consulta para explorar as opções de tratamento que combinam com você!" />
  <meta property="og:url" content="https://auroraodontologia.com.br/blog/protese-dentadura-removivel-ouro-preto/" />
  <meta property="og:site_name" content="Aurora Odontologia" />
  <meta property="og:image" content="/img/querymeta.webp">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://auroraodontologia.com.br/blog/protese-dentadura-removivel-ouro-preto/">
  <meta property="twitter:title" content="Como funciona a dentadura removível + 3 coisas que você precisa saber">
  <meta property="twitter:description"
    content="Descubra tudo sobre dentaduras removíveis, onde colocar em Ouro Preto, seus cuidados e vantagens, além de dicas essenciais de limpeza.Marque uma consulta para explorar as opções de tratamento que combinam com você!">
  <meta property="twitter:image" content="/img/querymeta.webp">

  <link rel="canonical" href="https://auroraodontologia.com.br/blog/protese-dentadura-removivel-ouro-preto/" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">

  <title>Como funciona a dentadura removível + 3 coisas que você precisa saber</title>

  <% if(GA) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K65XDXS8W3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K65XDXS8W3');</script>
    <% } %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <%- include('partials/main'); %>
  </main>

  <footer>
    <%- include('../partials/common/footer'); %>
  </footer>
</body>

</html>