<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#conceito" onclick="document.getElementById('menuButton').checked = false">Topo</a>
        <a href="#draluciana" onclick="document.getElementById('menuButton').checked = false">Luciana D'Angelo</a>
        <a href="#depoimentos" onclick="document.getElementById('menuButton').checked = false">Depoimentos</a>
        <a href="#especialidades" onclick="document.getElementById('menuButton').checked = false">Especialidades</a>
        <a href="#sobre" onclick="document.getElementById('menuButton').checked = false">Sobre a Aurora</a>
        <a href="#estrutura" onclick="document.getElementById('menuButton').checked = false">Nossa estrutura</a>
        <a href="#contato" onclick="document.getElementById('menuButton').checked = false">Contato</a>
      </div>
    </nav>
  </div>

  <img max-width="162" max-height="101" src="img/logo.svg" alt="logo" />
</div>