<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <div></div>
      <div></div>
      <div></div>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#">Topo</a>
        <a href="#">Luciana D'Angelo</a>
        <a href="#">Depoimentos</a>
        <a href="#">Especialidades</a>
        <a href="#">Sobre a Aurora</a>
        <a href="#">Contato</a>
      </div>
    </nav>
  </div>

  <img src="img/logo.svg" alt="logo" />
</div>