<section class="conceito">

  <div class="container">
    <div class="circulos">
    </div>
    <div class="tagline">
      <h1>
        <div>Singular</div>
        <div>Integrada</div>
        <div><strong>Especialista em você</strong></div>
      </h1>

      <p>
        Em <strong>Ouro Preto - MG</strong>, apresentamos a você uma nova forma de se relacionar com a Odontologia.
        Queremos que seja o evento mais agradável do seu dia.
      </p>

      <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
        <span>Vamos agendar uma consulta?</span>
      </a>
    </div>
  </div>
</section>

<section class="draluciana">
  <h1></h1>
  <p></p>
</section>

<section class="comentarios">
  <h1></h1>
  <p></p>
</section>

<section class="especialidades">
  <h1></h1>
  <p></p>
</section>

<section class="sobre">
  <h1></h1>
  <p></p>
</section>

<section class="estrutura">
  <h1></h1>
  <p></p>
</section>

<section class="mapa">
  <h1></h1>
  <p></p>
</section>