<div class="social-media">
  <div id="facebook">
    <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
      href="https://www.facebook.com/sharer/sharer.php?u=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/"
      target="_blank">
      <img class="icon" src="../../img/facebook.svg" alt="facebook" />
    </a>
  </div>

  <div id="twitter">
    <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
      href="https://twitter.com/intent/tweet?url=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/&text="
      target="_blank">
      <img class="icon" src="../../img/twitter.svg" alt="twitter" />
    </a>
  </div>

  <div id="linkedin">
    <a onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=300'); return false;"
      href="https://www.linkedin.com/shareArticle?mini=true&url=https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/&title=&summary=&source="
      target="_blank">
      <img class="icon" src="../../img/linkedin.svg" alt="linkedin" />
    </a>
  </div>

  <div id="whatsapp">
    <a href="https://api.whatsapp.com/send?text=%0ahttps://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/"
      target="_blank">
      <img class="icon" src="../../img/whatsapp-2.svg" alt="whatsapp" />
    </a>
  </div>
</div>