<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description"
    content="Você sofre com dentes sensíveis e retração gengival? Saiba como fazer o tratamento em Ouro Preto, entenda as causas e dicas para aliviar a dor e recuperar a saúde bucal." />
  <meta property="image" content="/img/querymeta.webp" />

  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Como aliviar a dor dos dentes sensíveis e da retração gengival?" />
  <meta property="og:description"
    content="Você sofre com dentes sensíveis e retração gengival? Saiba como fazer o tratamento em Ouro Preto, entenda as causas e dicas para aliviar a dor e recuperar a saúde bucal." />
  <meta property="og:url" content="https://auroraodontologia.com.br/blog/dor-dentes-sensiveis-tratamento-ouro-preto/" />
  <meta property="og:site_name" content="Aurora Odontologia" />
  <meta property="og:image" content="/img/querymeta.webp">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url"
    content="https://auroraodontologia.com.br/blog/dor-dentes-sensiveis-tratamento-ouro-preto/">
  <meta property="twitter:title" content="Como aliviar a dor dos dentes sensíveis e da retração gengival?">
  <meta property="twitter:description"
    content="Você sofre com dentes sensíveis e retração gengival? Saiba como fazer o tratamento em Ouro Preto, entenda as causas e dicas para aliviar a dor e recuperar a saúde bucal.">
  <meta property="twitter:image" content="/img/querymeta.webp">

  <link rel="canonical" href="https://auroraodontologia.com.br/blog/dor-dentes-sensiveis-tratamento-ouro-preto/" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">

  <title>Como aliviar a dor dos dentes sensíveis e da retração gengival?</title>

  <% if(GA) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K65XDXS8W3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K65XDXS8W3');</script>
    <% } %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <%- include('partials/main'); %>
  </main>

  <footer>
    <%- include('../partials/common/footer'); %>
  </footer>
</body>

</html>