<div class="container">

  <div class="menu">
    <input type="checkbox" id="menuButton">
    <label id="menuLabel" for="menuButton">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav id="menu">
      <div class="items">
        <a href="#introducao" onclick="document.getElementById('menuButton').checked = false">Introdução</a>
        <a href="#inicio" onclick="document.getElementById('menuButton').checked = false">Como escolher uma clínica
          odontológica?</a>
        <a href="#cinco-dicas" onclick="document.getElementById('menuButton').checked = false">Cinco dicas antes de
          escolher</a>
        <a href="#melhor-escolha" onclick="document.getElementById('menuButton').checked = false">Melhor escolha em Ouro
          Preto</a>
        <a href="https://auroraodontologia.com.br/" target="_blank">Conheça a clínica</a>
      </div>
    </nav>
  </div>

  <span class="logo">
    <img src="../../img/logo.svg" width="118" alt="logo" />
  </span>
  <span class="tagline">
    Singular, Integrada, <strong>Especialista em você</strong>
  </span>
</div>