#blog {
  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 80px;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: $cinza;
    }

    .titulo {
      background-color: $amareloPastel;
      padding: 1vw 12vw;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
        color: $roxo;
      }

      p {
        max-width: 40rem;
        font-size: 1.3rem;
        font-weight: 400;
        color: $cinza;
      }

      &:after {
        content: "";
        display: flex;
        background-color: $amareloPastel;
        clip-path: ellipse(5638px 3161px at 1293px -2824px);
        position: absolute;
        top: 1rem;
        left: 0rem;
        z-index: -1;
        width: 100%;
        height: 100%;
      }
    }

    .resumo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px solid $amareloPastel;

      .imagem-blog {
        position: relative;
        width: 25rem;
        height: 25rem;
        max-width: 25rem;
        max-height: 25rem;
        margin-right: -2rem;

        img {
          width: 100%;
          border-radius: 50%;
        }

        &:after {
          content: "";
          display: flex;
          background-color: $amareloPastel;
          width: calc(100% + 2rem);
          height: calc(100% + 2rem);
          border-radius: 50%;
          position: absolute;
          top: 0rem;
          left: -2rem;
          z-index: -1;
        }
      }

      .lista {
        padding-left: 12vw;
        padding-top: 14rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .artigo {
          display: flex;
          align-items: center;
          gap: 2rem;

          img {
            border-radius: 50%;
            box-shadow: 3px 3px 1px $amareloPastel;
          }

          p {
            color: $cinza;
            max-width: 20rem;
            font-size: 1.3rem;
            font-weight: 400;

            a {
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .cta {
          display: flex;
          justify-content: center;
          margin-top: 2rem;

          a {
            color: $roxo;
            font-size: 1.5rem;
            font-weight: 500;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1024px) {
      margin-top: 0px;

      .titulo {
        padding-left: 5vw;
        padding-right: 5vw;
      }

      .resumo {
        justify-content: space-between;

        .lista {
          padding-left: 5vw;
          padding-right: 5vw;
        }

        .imagem-blog {
          margin-right: -4rem;
        }
      }
    }

    @media only screen and (max-width: 960px) {
      margin-top: 0px;

      .resumo {
        justify-content: space-between;

        .lista {
          .artigo {
            img {
              width: 6rem;
            }
          }
        }

        .imagem-blog {
          margin-right: -4rem;
          width: 18rem;
          height: 18rem;
        }
      }
    }

    @media only screen and (max-width: 740px) {
      margin-top: 0px;

      .titulo {
        p {
          margin-bottom: 1rem;
        }
      }

      .resumo {
        align-items: center;
        flex-direction: column-reverse;

        .lista {
          padding-top: 2rem;

          .artigo {
            img {
              width: 5rem;
            }

            p {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }
          }
        }

        .imagem-blog {
          width: 12rem;
          height: 12rem;

          &:after {
            width: calc(100% + 1rem);
            height: calc(100% + 1rem);
            top: -5px;
            left: -15px;
          }
        }
      }
    }

    @media only screen and (max-width: 480px) {
      .titulo {
        h2 {
          font-size: 2.25rem;
          line-height: 2.625rem;
        }

        p {
          font-size: 1.2rem;
        }
      }

      .resumo {
        align-items: center;
        flex-direction: column-reverse;

        .lista {
          padding-top: 2rem;


          .artigo {
            gap: 1rem;

            img {
              width: 3.5rem;
            }

            p {
              font-size: 1rem;
              line-height: 1.75rem;
            }
          }
        }

        .imagem-blog {
          margin-right: -12rem;
        }
      }
    }
  }
}