#comentarios {
  background-color: $amareloPastel;
  padding-bottom: 20px;

  .container {

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.938rem;
      color: $roxo;
      text-align: center;
      padding-top: 8.188rem;
      padding-bottom: 6.313rem;
    }

    .comentarios {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .slider {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }

    .actions {
      text-align: center;

      a {
        margin-right: 36px;
        margin-bottom: 20px;
      }
    }
  }
}