#comentarios {
  background-color: $amareloPastel;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-content: center;
  // align-items: center;

  .container {
    padding-top: 2rem;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.938rem;
      color: $roxo;
      margin-bottom: 4.063rem;
      display: flex;
      justify-content: center;
    }

    .carousel {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      flex-direction: column;
      width: 100%;

      .slide-left,
      .slide-right {
        position: relative;
        z-index: 9;
      }

      .slide-left {
        top: 143px;
        right: 400px;
      }

      .slide-right {
        bottom: 143px;
        left: 400px;
      }

      .arrows {
        position: relative;

        .arrow {
          position: absolute;
          top: 50%;
          width: 4vmin;
          height: 4vmin;
          background: transparent;
          border-top: 4px solid $cobreClaro;
          border-right: 4px solid $cobreClaro;
          box-shadow: 0 0 0 $sombra;
          transition: all 200ms ease;
          border-radius: 1px;

          &.left {
            left: 50%;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
          }

          &.right {
            right: 50%;
            transform: translate3d(0, -50%, 0) rotate(45deg);
          }

          &:hover {
            border-color: $roxo;
            box-shadow: 4px -0.5vmin 0 $cobreClaro;
          }

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -60%) rotate(45deg);
            width: 200%;
            height: 200%;
          }
        }
      }

      #c-slider {
        display: flex;
        width: 100%;
        height: 286px;

        [class*="slide-"] {
          display: flex;
        }

        .content {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          gap: 40px;

          .foto {
            img {
              max-width: 281px;
            }
          }

          .texto {
            color: $cinza;
            line-height: 28px;
            max-width: 330px;

            .nome {
              font-weight: 700;
              font-size: 24px;
              margin-bottom: 18px;
            }

            .descricao {
              font-weight: 400;
              font-size: 18px;
            }
          }
        }
      }

      .dots {
        // grid-column-start: 1;
        // grid-column-end: 5;
        // text-align: center;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: center;
      gap: 36px;
      margin-top: 36px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .container {

      h2 {
        font-size: 2.25rem;
        line-height: 2.625rem;
      }

      .carousel {

        .slide-left,
        .slide-right {
          position: absolute;
        }

        .slide-left {
          top: 70px;
          left: 10vw;
        }

        .slide-right {
          top: 70px;
          right: 10vw;
        }

        #c-slider {
          .content {
            flex-flow: column;
            justify-content: flex-start;
            gap: 20px;

            .foto {
              img {
                max-width: 141px;
              }
            }

          }
        }
      }

      .actions {
        margin-top: 140px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      .carousel {

        .slide-left,
        .slide-right {
          position: absolute;
        }

        .slide-left {
          top: 70px;
          left: 10vw;
        }

        .slide-right {
          top: 70px;
          left: 90vw;
        }


        #c-slider {
          .content {
            .texto {
              margin-left: 40px;
              margin-right: 20px;
            }
          }
        }
      }

      h2 {
        margin-left: 40px;
      }

      .actions {
        margin-top: 170px;
      }
    }
  }
}