#comentarios {
  background-color: $amareloPastel;

  .container {
    padding-top: 2rem;

    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 2.938rem;
      color: $roxo;
      text-align: center;
    }

    .carousel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .left,
      .right {
        position: relative;

        .arrow {
          position: absolute;
          top: 50%;
          width: 4vmin;
          height: 4vmin;
          background: transparent;
          border-top: 0.5vmin solid $cobreClaro;
          border-right: 0.5vmin solid $cobreClaro;
          box-shadow: 0 0 0 $sombra;
          transition: all 200ms ease;
          border-radius: 1px;

          &.left {
            left: 50%;
            transform: translate3d(0, -50%, 0) rotate(-135deg);
          }

          &.right {
            right: 50%;
            transform: translate3d(0, -50%, 0) rotate(45deg);
          }

          &:hover {
            border-color: $roxo;
            box-shadow: 0.5vmin -0.5vmin 0 $cobreClaro;
          }

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -60%) rotate(45deg);
            width: 200%;
            height: 200%;
          }
        }
      }

      .slider {
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;
      }
    }

    .actions {
      text-align: center;

      a {
        margin-right: 36px;
        margin-bottom: 20px;
      }
    }
  }


}