#conceito {
  font-size: 1rem;
  background-color: $roxo;
  padding-top: 4rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: $roxo;
    color: white;
    flex-flow: wrap-reverse;
    position: relative;
    padding: 5%;

    div {
      flex: 1
    }

    .circulos {
      position: relative;
      padding-right: 6vw;

      span {
        display: inline-block;
      }

      .foto {
        top: 0;
        max-width: 43.125rem;
        max-height: 43.125rem;
        left: -12vw;
        z-index: 3;
        position: relative;

        &:before {
          content: "";
          width: 100vw;
          height: 100vw;
          max-width: 42.5rem;
          max-height: 42.5rem;
          background-color: transparent;
          border: 3px solid $cobreEscuro;
          position: absolute;
          border-radius: 50%;
          display: inline-block;
          z-index: 2;
          top: -8vw;
          left: 20%;
        }

        img {
          z-index: 3;
          width: 100vw;
          height: 100vw;
          max-width: 43.125rem;
          max-height: 43.125rem;
          position: relative;
          object-fit: cover;
          object-position: center;
          clip-path: circle(50%);
        }

        &:after {
          content: "";
          width: 100vw;
          height: 100vw;
          max-height: 23.25rem;
          max-width: 23.25rem;
          background-color: $cobreClaro;
          z-index: 2;
          position: absolute;
          clip-path: circle(50%);
          top: 52%;
          right: -5vw;
        }
      }
    }

    .tagline {
      padding-right: 6vw;
      z-index: 4;

      h1 {
        font-size: 3em;
        line-height: 56px;
        width: 293px;
        margin: 0 0 40px 0;
      }

      p {
        font-size: 1.25rem;
        max-width: 512px;
        margin: 0 0 40px 0;
      }

      a {
        margin-bottom: 10.6888rem;
      }
    }

    @media only screen and (max-width: 480px) {
      .circulos {
        .foto {
          &:before {
            top: -80px;
            left: 50px;
            width: 339.14px;
            height: 339.14px;
          }

          img {
            width: 344.13px;
            height: 344.63px;
          }

          &:after {
            content: "";
            width: 185.53px;
            height: 185.53px;
            left: 220px;
            top: 180px;
          }
        }
      }

      .tagline {
        padding-left: 2%;

        h1 {
          font-size: 2.25rem;
          line-height: 2.641rem;
          width: 18.313rem;
          margin: 0 0 40px 0;
        }

        p {
          font-size: 1.125rem;
          max-width: 17.688rem;
          margin: 0 0 40px 0;
        }

        a {
          margin-bottom: 0;
        }
      }
    }

    @media only screen and (max-width: 1281px) {}

    @media only screen and (max-width: 1024px) {}
  }

  .mobile-action {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: $roxo;
    color: white;
    height: 300px;
    align-items: center;
    padding: 0 5%;

    >div {
      z-index: 4;
    }

    a {
      z-index: 4;
    }

    p {
      font-size: 1.125rem;
      max-width: 17.688rem;
      margin: 0 0 40px 0;
    }
  }

  @media only screen and (min-width: 481px) {
    .mobile-action {
      display: none;
    }

    .desktop-action {
      display: inline-block;
    }
  }

  @media only screen and (max-width: 480px) {
    .mobile-action {
      display: flex;
    }

    .desktop-action {
      display: none;
    }
  }
}