#conceito {
  font-size: 1rem;

  .container {
    background-color: $roxo;
    color: white;
    position: relative;

    div {
      flex: 1
    }

    .circulos {
      position: relative;

      span {
        display: inline-block;
      }

      .foto {
        z-index: 3;
        position: absolute;
        width: 69rem;
        height: 69rem;
        top:-13rem;
        right: 14rem;

        &:before {
          content: "";
          width: 95%;
          height: 95%;
          background-color: transparent;
          border: 0.3rem solid $cobreEscuro;
          position: absolute;
          border-radius: 50%;
          display: inline-block;
          z-index: 2;
          top: -8rem;
          right: -6rem;
        }

        img {
          z-index: 3;
          width: 100%;
          height: 100%;
          position: relative;
          object-fit: cover;
          object-position: 50%;
          clip-path: circle(50%);
        }

        &:after {
          content: "";
          width: 48%;
          height: 48%;
          background-color: $cobreClaro;
          z-index: 2;
          position: absolute;
          clip-path: circle(50%);
          top: 60%;
          right: -10rem;
        }
      }
    }

    .tagline {
      z-index: 4;

      h1 {
        width: 29.3rem;
        margin: 0 0 4rem 0;
      }

      p {
        max-width: 41.2rem;
        margin: 0 0 4rem 0;
      }

      a {
        margin-bottom: 10.6888rem;
      }
    }

    @media only screen and (max-width: 480px) {
      .circulos {
        .foto {
          &:before {
            top: -8rem;
            left: 5rem;
            width: 34rem;
            height: 34rem;
          }

          img {
            width: 34.4rem;
            height: 34.4rem;
          }

          &:after {
            content: "";
            width: 18.5rem;
            height: 18.5rem;
            left: 22rem;
            top: 18rem;
          }
        }
      }

      .tagline {
        padding-left: 2%;

        h1 {
          font-size: 2.25rem;
          line-height: 2.641rem;
          width: 18.313rem;
          margin: 0 0 4rem 0;
        }

        p {
          font-size: 1.125rem;
          max-width: 17.688rem;
          margin: 0 0 4rem 0;
        }

        a {
          margin-bottom: 0;
        }
      }
    }

    @media only screen and (max-width: 1281px) {}

    @media only screen and (max-width: 1024px) {}
  }

  .mobile-action {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: $roxo;
    color: white;
    height: 30rem;
    align-items: center;
    padding: 0 5%;

    >div {
      z-index: 4;
    }

    a {
      z-index: 4;
    }

    p {
      font-size: 1.125rem;
      max-width: 17.688rem;
      margin: 0 0 4rem 0;
    }
  }

  @media only screen and (min-width: 481px) {
    .mobile-action {
      display: none;
    }

    .desktop-action {
      display: inline-block;
    }
  }

  @media only screen and (max-width: 480px) {
    .mobile-action {
      display: flex;
    }

    .desktop-action {
      display: none;
    }
  }
}