#draluciana {
  margin-top: -15.5rem;
  background-color: $roxo;

  .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;
    padding: 15rem 20% 0 20%;
    background-color: $cobreEscuro;
    clip-path: ellipse(100vw 100vw at 50vw 100vw);

    div {
      flex: 1 1 auto;
    }

    .sobre {
      padding-right: 30px;
      text-align: justify;

      h2 {
        font-weight: 700;
        font-size: 3rem;
        line-height: 3.5rem;
        color: $amarelo;
      }

      p {
        max-width: 512px;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 20px;
      }
    }

    .imagem {
      .foto {
        width: 35.438rem;
        height: 35.438rem;
        border-radius: 50%;

        img {
          width: 35.438rem;
          height: 35.438rem;
          object-fit: cover;
        }
      }
    }
  }

  .bg {
    background-color: $amareloPastel;
    width: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    display: inline-block;
    height: 100px;
    z-index: -1;
  }
}