#estrutura {
  .container {

    background-color: $roxo;
    font-size: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0;

    .gradient {
      z-index: 1;
      position: absolute;
      width: 100%;
      background-image: linear-gradient(to bottom, $cobreEscuro, transparent);
      height: 30rem;
    }

    .titulo {
      z-index: 1;
      position: absolute;
      right: 10%;
      margin-top: 2rem;
      color: $branco;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

    #e-slider {
      display: flex;
      flex-direction: row;

      .keen-slider__slide {
        display: flex;
        flex-direction: column;
        max-height: 81.2rem;
        min-width: fit-content;

        background-color: $cobreEscuro;
        background-image: url('/img/loader.svg');
        background-position: center;
        background-repeat: no-repeat;
      }

      .content {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: -1;
        max-height: 81.2rem;

        img {
          max-height: 81.2rem;
          object-fit: contain;
          position: relative;
          // filter: drop-shadow(1px 1px 1rem $sombra);
        }
      }

      .blur {
        position: relative;

        &:before {
          content: '';
          filter: blur(3rem);
          background-image: var(--bg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

    .img-dots {
      display: flex;
      gap: 2rem;
      background-color: transparent;
      justify-content: center;
      margin-top: -12rem;
      z-index: 2;

      >span {
        width: 1.9rem;
        height: 1.9rem;
        background-color: $cinzaClarissimo;
        border-radius: 50%;
        cursor: pointer;
      }

      .img-dots-active {
        background-color: $roxo;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .container {
      .gradient {
        height: 12rem;
      }

      .titulo {
        font-size: 1.2rem;
      }

      #e-slider {
        .content {
          img {
            min-height: 55rem;
            max-height: 55rem;
          }
        }
      }

      .img-dots {
        gap: 1rem;
        background-color: $roxo;
        justify-content: center;
        margin-top: -1rem;
        align-items: center;
        z-index: 2;
        padding: 2rem 0 2rem 0;

        >span {
          width: 1.6rem;
          height: 1.6rem;
        }

        .img-dots-active {
          background-color: $amarelo;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
      background-color: $roxo;
      background-image: linear-gradient(to bottom, $cobreEscuro, transparent);
      padding-top: 15rem;

      .gradient {
        height: rem;
      }

      .titulo {
        font-size: 1rem;
        top: 8rem;
        right: 1rem;
        z-index: 2;
      }

      #e-slider {
        .content {
          img {
            min-height: 35rem;
            max-height: 35rem;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      background-color: $roxo;
      background-image: linear-gradient(to bottom, $cobreEscuro, transparent);
      padding-top: 15rem;

      .gradient {
        display: none;
      }

      .titulo {
        font-size: 1rem;
        top: 7.5rem;
        right: 10%;
        z-index: 2;
      }

      #e-slider {
        .content {
          img {
            max-height: 30rem;
            min-height: 21.5rem;
            object-fit: cover;
          }
        }
      }

      .img-dots {
        >span {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
}