#sobre {
  .container {
    z-index: 2;
    position: relative;

    .row-1 {
      display: flex;
      padding: 0 5vw;

      .titulo {
        max-width: 48.688rem;
        margin-bottom: 4.25rem;

        h2 {
          font-weight: 500;
          font-size: 3rem;
          line-height: 3.5rem;
          color: $branco;
        }
      }
    }

    .row-2 {
      display: flex;
      gap: 5rem;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: left;
      padding: 0 5vw;

      .row-2-1 {
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;

        .box-1,
        .box-2 {
          max-width: 33rem;
          min-width: 28rem;
        }
      }

      .row-2-2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 4rem;

        .box-3 {
          .imagem {
            margin-bottom: -12rem;

            .foto {
              display: flex;
              max-width: 50rem;

              img {
                width: 100vw;
                height: 100vw;
                max-width: 50rem;
                max-height: 50rem;
                position: relative;
                object-fit: cover;
                object-position: 50%;
                clip-path: circle(50%);
              }

              position: relative;

              &:after {
                content: "";
                display: flex;
                background-color: $roxo;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 1rem;
                left: 1rem;
                z-index: -1;
              }
            }
          }
        }

        .box-4 {
          max-width: 68rem;

          a {
            margin: 4rem 0;
          }
        }
      }
    }

    background-color: $roxo;
    clip-path: ellipse(340.8rem 321.1rem at 50.8rem 321.8rem);
    padding-top: 8.063rem;
    margin-top: 3.438rem;

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.375rem;
      color: $branco;
      margin-bottom: 0.875rem;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.75rem;
      color: $amarelo;
    }
  }

  @media only screen and (max-width: 1200px) {
    .container {
      .row-2 {
        gap: 3rem;

        .row-2-1 {
          gap: 3rem;
        }

        .row-2-2 {
          gap: 1rem;

          .box-3 {
            .imagem {
              margin-left: -3rem;
            }
          }

          .box-4 {
            a {
              margin: 3rem 0;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {

    .container {
      .row-1 {
        .titulo {
          h2 {
            font-size: 2.125rem;
            line-height: 2.5rem;
          }
        }
      }

      .row-2 {
        .row-2-2 {
          .box-3 {
            .imagem {
              margin-left: -18rem;
            }
          }

          .box-4 {
            a {
              margin: 3rem 0;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .container {
      .row-2 {
        .row-2-2 {
          .box-3 {
            .imagem {
              margin-left: -18rem;
              margin-bottom: -12rem;

              .foto {
                img {
                  max-width: 44rem;
                  max-height: 44rem;
                  object-position: 20%;
                }
              }
            }
          }

          .box-4 {
            a {
              margin: 3rem 0;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .container {
      .row-2 {
        .row-2-2 {
          .box-3 {
            .imagem {
              margin-bottom: -8rem;
              margin-left: -10rem;

              .foto {
                display: flex;

                img {
                  max-width: 34rem;
                  max-height: 34rem;
                  object-position: 25%;
                }
              }
            }
          }

          .box-4 {
            a {
              margin: 3rem 0;
            }
          }
        }
      }
    }
  }
}