<article>
  <header id="introducao">
    <h1>Conheça a Dra Luciana D'Angelo, da Aurora Odontologia</h1>

    <div class="author">
      <address>20/11/2022 por <strong>Dra. Luciana D'Angelo</strong></address>
    </div>

    <div class="imagem-1">
      <img src="/img/blog/dra-luciana/dra-luciana-sorrindo.webp"
        onerror="this.onerror=null;this.src='/img/blog/ortodontista-op/adolescente-sorrindo-aparelho.jpg'"
        alt="Dra Luciana D’Angelo, à mesa do consultório na Aurora Odontologia, sorrindo.">
    </div>

    <p>
      <strong>Dra Luciana D'Angelo</strong> ou, Dra. Lu, para os pacientes, é responsável pela clínica Aurora
      Odontologia e também parte de uma equipe atenciosa, com foco individualizado em cada sorriso que chega na clínica.
    </p>

    <p>
      Para que você a conheça melhor, fizemos este artigo para mostrar um pouco sobre quem é a pessoa por trás do
      conceito da nossa clínica.
    </p>

    <p>
      Com a palavra, Dra Luciana!
    </p>
  </header>

  <section id="sobre-dra">
    <h2>Quem é a Dra Luciana D'Angelo</h2>

    <p>
      Eu sou cirurgiã dentista, formada pela Faculdade de Ciências Médicas e da Saúde de Juiz de Fora e especialista em
      ortodontia.
    </p>

    <p>
      Trabalho como <strong>dentista em Minas Gerais</strong> há anos e, além da clínica geral e ortodontia, tenho
      experiência na odontopediatria, em estética e em clareamento dental.
    </p>

    <p>
      Em Ouro Preto, cheguei com uma bagagem de experiência de mais de 10 anos. Atuei nas cidades de Juiz de Fora,
      Barbacena e Mariana.
    </p>

    <p>
      Cresci acreditando que cada situação merece ter um olhar especial e individualizado, principalmente para se chegar
      a soluções mais práticas e assertivas, seja qual for o problema.
    </p>

    <p>
      Levei isso para a minha formação em odontologia e idealizei a clínica Aurora com base nesse conceito: oferecer um
      atendimento personalizado e realizado de forma integrada!
    </p>
  </section>

  <section id="sobre-aurora">
    <h2>Como surgiu a Aurora Odontologia</h2>
    <p>
      Quando me mudei para Ouro Preto, percebi que a cidade precisava de uma clínica multidisciplinar, com soluções
      integradas e, acima de tudo, com foco na singularidade de cada sorriso. É por isso que nossa marca Aurora
      Odontologia traz muito forte esse conceito.
    </p>

    <p>
      Simpatizo com novas ideias do paciente se relacionar com a odontologia. As visitas ao dentista não precisam ser
      uma experiência desagradável.
    </p>

    <p>
      Por isso, nossa equipe é multidisciplinar e atenciosa, formada por profissionais em diferentes áreas para oferecer
      um atendimento singular e diversificado.
    </p>
  </section>

  <section id="especialidades">
    <h2>Sobre as nossas especialidades</h2>

    <p>
      Seja qual for a área, um dos meus maiores objetivos é sempre proporcionar consultas acolhedoras, em um ambiente
      confortável e seguro.
    </p>

    <p>
      Para oferecer esse atendimento de forma integrada e humanizada, atuamos em diversas especialidades e com uma
      equipe
      multidisciplinar.
    </p>

    <p>
      Vou falar um pouco do que fazemos por aqui!
    </p>

    <ul>
      <li>
        <strong>Odontopediatria</strong>: acompanhamos todo o crescimento e formação dentária das crianças, garantindo
        que o sorriso dos pequenos permaneça saudável, livre de cáries e outras doenças dentárias.

        <span>
          No nosso blog, tem um artigo bem legal sobre essa área! Dá uma olhadinha aqui <a target="_blank"
            href="https://auroraodontologia.com.br/blog/odontopediatra-em-ouro-preto-mg/">neste link</a>.
        </span>
      </li>
      <li>
        <strong>Ortodontia:</strong> aqui, além de focar no sorriso bonito e funcional, também pensamos na função
        correta da mastigação, deglutição e da fala.
      </li>
      <li>
        <strong>Odontologia estética:</strong> unimos beleza e saúde pensando em um sorriso harmonioso, mas com saúde
        e integridade estrutural e funcional.
      </li>
      <li>
        <strong>Clareamentos:</strong> eu acompanho todo o procedimento, que é realizado no consultório associado ao
        tratamento caseiro.
      </li>
      <li>
        <strong>Clínica geral:</strong> atuamos na prevenção, diagnóstico e tratamentos assertivos. Tudo para manter a
        sua saúde bucal em dia.
      </li>
      <li>
        <strong>Invisalign:</strong> disponibilizamos o tratamento ortodôntico com alinhadores invisíveis, com base no
        estudo de cada caso.
      </li>
      <li>
        <strong>Prótese:</strong> a Aurora Odontologia realiza tratamentos de prótese dentária para devolver o sorriso
        e a autoestima.
      </li>
      <li>
        <strong>Cirurgia:</strong> realizamos procedimentos clínicos e cirurgias bucais que podem ser realizados no
        consultório sob anestesia local.
      </li>
      <li>
        <strong>Implantodontia:</strong> cuidamos da sua reabilitação oral, atuando na reconstrução do dente por meio
        de implantes, tudo para garantir segurança durante a alimentação e a fala.
      </li>
      <li>
        <strong>Endodontia:</strong> fazemos tratamento de canal, cuidando de possíveis doenças na raiz e na polpa
        dentária, que é a parte mais interna da estrutura do dente.
      </li>
      <li>
        <strong>Periodontia:</strong> por fim, também cuidamos da saúde da gengiva, prevenindo e tratando possíveis
        doenças que a afetam.
      </li>
    </ul>

    <p>
      Também imagino que você possa se perguntar “Mas, <strong>Dra Luciana D’Angelo</strong>, e a avaliação
      de um caso mais específico?”. Também posso te ajudar com isso. Vamos marcar uma consulta?
    </p>

    <p>
      Será um prazer te receber e ouvir o que você tem a nos dizer sobre seu caso!
    </p>
  </section>

  <section id="pacientes">
    <h2>Um pouco do que dizem nossos pacientes</h2>

    <div class="img-tratamentos">
      <img src="/img/blog/dra-luciana/dra-luciana-abraco-paciente.webp"
        onerror="this.onerror=null;this.src='/img/blog/ortodontista-op/adolescente-sorrindo-aparelho.jpg'"
        alt="Dra. Luciana abraçando e recebendo um presente de um paciente da Aurora Odontologia">
    </div>

    <p>
      Eu acredito muito na importância de se construir um bom relacionamento com o paciente com base em uma ótima
      experiência com o dentista.
    </p>

    <p>
      E não é só da experiência dentro do consultório que estou falando, com todos os nossos equipamentos modernos e
      tecnologias inovadoras.
    </p>

    <p>
      Pensamos em uma clínica completa, com ambientes confortáveis, organizados e harmoniosos. E não preciso nem falar
      da equipe de melhores dentistas especialistas da região.
    </p>

    <p>
      Para mim, o gratificante é perceber o encanto dos pacientes com o resultado positivo no tratamento, que é singular
      e personalizado. É ver que mudamos sua percepção em relação às visitas ao dentista (afinal, esse é o conceito da
      clínica).
    </p>

    <h3>Confira algumas avaliações</h3>

    <div class="depoimentos">
      <p>
        “<strong>Dra Luciana D’Angelo</strong> é muito atenciosa e ainda me deu um kit super fofo. Clínica mais linda e
        charmosa de Ouro Preto.” (Marina Laport)
      </p>

      <p>
        “Fui muito bem atendido! A <strong>Dra Luciana</strong> foi muito atenciosa. Gostei tanto que levei minha filha
        também!” (Eduardo Fontinelle)
      </p>

      <p>
        “Estou muito satisfeita com meu sorriso Aurora, a clínica tem uma estrutura impecável, e o mais importante,
        profissionais qualificados e dedicados que se importam com seus pacientes. Principalmente <strong>Dra Luciana
          D’Angelo</strong>, sempre atenciosa e detalhista em todos os aspectos. Todo mundo merece ter esse tipo de
        tratamento. Só tenho a agradecer!” (Thais de Paula)
      </p>
    </div>

    <p>
      Para visualizar mais opiniões dos nossos pacientes, <a target="_blank"
        href="https://auroraodontologia.com.br/#depoimentos">clique
        aqui</a>.
    </p>

  </section>

  <section id="contato">
    <h2>Vamos conversar?</h2>

    <p>
      Bem, já mostrei um pouco sobre mim e sobre o conceito da clínica. O que achou? Espero que tenha gostado!
    </p>

    <p>
      E agora, vamos agendar a sua consulta? Para isso, é só falar com a gente pelo <a
        id="agendar-blog-dra-luciana-link" onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')"
        target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">WhatsApp no (31)
        3500-2591</a>. Mas você também pode ligar, se preferir. É o mesmo número.
    </p>

    <p>
      Um abraço!
    </p>

    <p>
      Aproveite para dar uma olhadinha neste outro artigo do blog: <a
        href="https://auroraodontologia.com.br/blog/ortodontista-em-ouro-preto-mg/" target="_blank">O que é ortodontia?
        Como funciona o tratamento em Ouro Preto?</a>
    </p>
  </section>

  <%- include('../../partials/common/social-media'); %>
</article>