<div class="container">
  <div class="titulo">
    <h2>
      Nosso Blog
    </h2>

    <p>
      Fique por dentro das nossas dicas e tratamentos para
      manter uma saúde bucal plena, com a melhor versão do seu sorriso.
    </p>
  </div>

  <div class="resumo">
    <div class="lista">
      <div class="artigo">
        <img alt="Dra Luciana com criança no colo, ambas sorrindo" src="/img/blog-post-1.webp"
          onerror="this.onerror=null;this.src='/img/blog-post-1.png'" loading="lazy">
        <p>
          <a href="/blog/odontopediatra-em-ouro-preto-mg/" target="_blank">
            O que é odontopediatria? O que devo saber antes de buscar um odontopediatra em Ouro Preto?
          </a>
        </p>
      </div>

      <div class="artigo">
        <img alt="Adolescente sorrindo, usando óculos e aparelho ortodôntico" src="/img/blog-post-2.webp"
          onerror="this.onerror=null;this.src='/img/blog-post-1.png'" loading="lazy">
        <p>
          <a href="/blog/ortodontista-em-ouro-preto-mg/" target="_blank">
            O que é ortodontia? Como funciona o tratamento em Ouro Preto?
          </a>
        </p>

      </div>

      <div class="artigo">
        <img alt="Denstista segurando prótese dentária" src="/img/blog-post-3.webp"
          onerror="this.onerror=null;this.src='/img/blog-post-1.png'" loading="lazy">
        <p>
          <a href="/blog/dentista-clinico-geral-ouro-preto/" target="_blank">
            O que faz um dentista clínico geral? Como encontrar em Ouro Preto?
          </a>
        </p>
      </div>

      <div class="cta">
        <a href="/blog" target="_blank">+ Ver mais artigos</a>
      </div>
    </div>

    <div class="imagem-blog">
      <img alt="Doutora Luciana com caneta fazendo anotações" src="/img/nosso-blog.webp"
        onerror="this.onerror=null;this.src='/img/nosso-blog.png'" loading="lazy">
    </div>
  </div>
</div>