<div class="container">
  <h2>Opiniões dos nossos pacientes</h2>

  <div class="comentarios">
    <div class="left">voltar</div>
    <div class="foto">foto
      <img src="" alt="">
    </div>
    <div class="texto">
      <p class="nome">Nome Sobrenome</p>
      <p class="descricao">Curabitur id vestibulum velit, vel lobortis odio. Nulla facilisi. Nulla pretium varius velit
        suscipit malesuada. Sed vel lobortis lorem, at tincidunt nisl. Pellentesque eleifend libero erat, vel vehicula
        tellus aliquam a.</p>
    </div>
    <div class="right">avançar</div>
    <div class="slider">bolotinhas</div>
  </div>
  <div class="actions">
    <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
      <span>Vamos agendar uma consulta?</span>
    </a>

    <a class="action-button-inverse" target="_blank" href="#">
      <span>Deixe seu comentário</span>
    </a>
  </div>

</div>