<div class="container">
  <div class="circulos">
    <span class="foto">
      <img alt="Um consultório da clínica Aurora Odontologia" src="/img/conceito.jpg"
        onerror="this.onerror=null;this.src='/img/conceito.jpg'" loading="lazy">
    </span>
    <span class="circulo"></span>
    <span class="bola"></span>
  </div>
  <div class="tagline">
    <h1>
      <div>Singular</div>
      <div>Integrada</div>
      <div><strong>Especialista em você</strong></div>
    </h1>

    <p>
      Em <strong>Ouro Preto</strong> (MG), apresentamos a você uma nova forma de se relacionar com a Odontologia.
    </p>

    <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
      <span>Vamos agendar uma consulta?</span>
    </a>
  </div>
</div>