<div class="container">
  <div class="circulos">
    <span class="foto">
      <img alt="Um consultório da clínica Aurora Odontologia" src="/img/conceito.webp"
        onerror="this.onerror=null;this.src='/img/conceito.jpg'">
    </span>
  </div>
  <div class="tagline">
    <h1>
      <span>Singular</span>
      <span>Integrada</span>
      <span><strong>Especialista em você</strong></span>
    </h1>

    <div class="desktop-action">
      <p>
        Em <strong>Ouro Preto</strong> (MG), apresentamos a você uma nova forma de se relacionar com a Odontologia.
      </p>

      <a class="action-button" target="_blank" onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')"
        href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
        <span>Agende sua consulta</span>
      </a>
    </div>
  </div>
</div>

<div class="mobile-action">
  <div>
    <p>
      Em <strong>Ouro Preto</strong> (MG), apresentamos a você uma nova forma de se relacionar com a Odontologia.
    </p>
    <a class="action-button" onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')" target="_blank"
      href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
      <span>Agende sua consulta</span>
    </a>
  </div>
</div>