<div class="container">
  <div class="sobre">
    <div>
      <div>
        <h2>
          Luciana D'Angelo
        </h2>
        <p>
          Com 5 anos de experiência, Luciana decidiu por dar vida a empreitada que hoje é a Aurora Odotologia, com o
          objetivo de melhor atender seus clientes.
        </p>

        <p>Curabitur id vestibulum velit, vel lobortis odio. Nulla facilisi. Nulla pretium varius velit suscipit
          malesuada.
          Sed vel lobortis lorem, at tincidunt nisl. Pellentesque eleifend libero erat, vel vehicula tellus aliquam a.
          Suspendisse eu congue ipsum. Duis gravida hendrerit diam ut convallis.</p>
      </div>
    </div>
  </div>
  <div class="imagem">
    <span class="foto">
      <img alt="Doutora Luciana D'Angelo, sorrindo de máscara com os braços cruzados" src="/img/draluciana-3.webp"
        onerror="this.onerror=null;this.src='/img/draluciana-3.png'" loading="lazy">
    </span>
  </div>
  <div class="bg"></div>
</div>