<div class="container">
  <div class="sobre">
    <div>
      <div>
        <h2>
          Luciana D'Angelo
        </h2>
        <p>
          Após mais de 7 anos de atividades nas cidades de Juiz de Fora, Barbacena e Mariana, a Dra Luciana decidiu
          trazer para <strong>Ouro Preto</strong> a clínica Aurora Odontologia, estruturada para promover
          um conceito singular na relação dos pacientes com seus sorrisos e a sua saúde bucal.
        </p>

        <p>
          <q>Quando me mudei para Ouro Preto, percebi que a cidade precisava de uma clínica multidisciplinar, com
            soluções
            integradas e, acima de tudo, com foco na singularidade de cada sorriso. É por isso que nossa marca Aurora
            Odontologia
            traz muito forte esse conceito.
          </q>
        </p>
      </div>
    </div>
  </div>
  <div class="imagem">
    <span class="foto">
      <img alt="Doutora Luciana D'Angelo, sorrindo, de máscara, com os braços cruzados" src="/img/draluciana-3.webp"
        onerror="this.onerror=null;this.src='/img/draluciana-3.png'" loading="lazy">
    </span>
  </div>
  <div class="bg"></div>
</div>