<div class="container">
  <div class="flex-row-principais">
    <div class="principais">
      <div class="titulo">
        <h2>Especialidades Aurora</h2>
        <p>Conheça mais sobre nossas atividades personalizadas:</p>
      </div>
      <div class="esp-1">
        <div class="ilustracao">
          <div class="icone"></div>
          <div class="circulo-1">
            <div class="circulo-2"></div>
          </div>
        </div>
        <h3>Odontopediatria</h3>
        <p class="texto">
          É a melhor amiga de um sorriso saudável durante a infância. Acompanhamos todo o crescimento e formação
          dentária
          das crianças, garantindo que o sorriso dos pequenos permaneça saudável, livre de cáries e outras doenças
          dentárias.
        </p>
      </div>
      <div class="esp-2">
        <div class="ilustracao">
          <div class="icone"></div>
          <div class="circulo-1">
            <div class="circulo-2"></div>
          </div>
        </div>
        <h3>Ortodontia</h3>
        <p class="texto">
          É o ortodontista que vai ajudar na missão de proporcionar um sorriso mais bonito e funcional para você,
          colaborando não só na posição dos seus dentes, mas também devolvendo a função correta da mastigação,
          deglutição e da fala.
        </p>
      </div>
      <div class="esp-3">
        <div class="ilustracao">
          <div class="icone"></div>
          <div class="circulo-1">
            <div class="circulo-2"></div>
          </div>
        </div>
        <h3>Odontologia Estética</h3>
        <p class="texto">
          Beleza e saúde para cuidar do seu sorriso. A odontologia estética atua tanto na cosmética quanto na
          restauração dental, trabalhando para preservar e devolver a integridade estrutural e funcional dos seus
          dentes. Tem como objetivo tornar o sorriso mais harmônico e funcional para cada paciente.
        </p>
      </div>
      <div class="mais">
        <p>E mais:</p>
        <div class="mais-grid">
          <ul class="ul-1">
            <li>Clínica geral</li>
            <li>Invisalign</li>
            <li>Prótese</li>
            <li>Cirurgia</li>
          </ul>
          <ul class="ul-2">
            <li>Implantodontia</li>
            <li>Odontologia Estética</li>
            <li>Periodontia</li>
            <li>Clareamentos</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>