<div class="container">
  <div>
    <div class="gradient"></div>
    <div class="titulo">
      <h2>Conheça nossa estrutura:</h2>
    </div>
    <div class="" carousel>
      <img alt="Foto frontal da recepção de clínica" src="/img/clinica-1.jpg"
        onerror="this.onerror=null;this.src='/img/clinica-1.jpg'" loading="lazy">
    </div>
    <div class="slider">Slider</div>
  </div>
</div>