<div class="container">

  <div class="gradient"></div>
  <div class="titulo">
    <h2>Conheça nossa estrutura</h2>
  </div>

  <div id="e-slider">
    <% imagens.forEach(function(imagem) { %>
      <div class="keen-slider__slide">
        <div class="content">
          <img alt="<%= imagem.alt %>" src="data:,">
        </div>
      </div>
      <% }); %>
  </div>

  <div id="imgDots" class="img-dots">
    <% imagens.forEach(function(imagem) { %>
      <span></span>
      <% }); %>
  </div>
</div>