<div class="container">
  <div class="arco-1"></div>
  <div class="arco-2"></div>

  <div class="conteudo">
    <div class="cta">
      <p>O seu melhor sorriso <br><strong>começa agora!</strong></p>
      <%- include('contato', { buttonId: 'dialogInvisa' }); %>
    </div>

    <img alt="Cases Invisalign" src="/img/align-case.webp" onerror="this.onerror=null;this.src='/img/align-case.jpg'"
      loading="lazy">
  </div>
</div>