<div class="container">

  <div class="row-1">
    <div class="titulo">
      <h2>
        <strong>Em Ouro Preto,</strong> nascemos para desafiar o status quo e renovar o seu
        entusiasmo em ir ao dentista.
        <!-- animação, disposição, prazer, vontade, entusiasmo, satisfação -->
      </h2>
    </div>
  </div>

  <div class="row-2">
    <div class="row-2-1">
      <div class="box-1">
        <h3>Singular</h3>
        <div>
          <p>Nossa missão é cuidar para que você tenha uma saúde bucal plena, respeitando suas individualidades. Cada
            sorriso é único e merece o melhor da odontologia, com acompanhamento personalizado.
          </p>
        </div>
      </div>

      <div class="box-2">
        <h3>Integrada</h3>
        <div>
          <p>Por meio de uma equipe integrada e multidisciplinar, com os melhores dentistas especialistas da região,
            promovemos um ambiente de trabalho organizado e harmonioso, com soluções completas e diagnósticos
            assertivos. </p>
        </div>
      </div>
    </div>

    <div class="row-2-2">
      <div class="box-3">
        <div class="imagem">
          <span class="foto">
            <img alt="Vista de um dos consultórios da clínica" src="/img/sobre.webp"
              onerror="this.onerror=null;this.src='/img/sobre.jpg'" loading="lazy">
          </span>
        </div>
      </div>

      <div class="box-4">
        <h3>Especialista em você</h3>
        <div>
          <p>Na Aurora Odontologia, seu tratamento é desenvolvido com foco nas suas necessidades e com objetivo de
            melhorar sua qualidade de vida. Nós cuidamos para que você tenha sempre um sorriso belo e
            saudável.
          </p>
        </div>

        <!-- <a id="agendar-sobre" class="action-button" target="_blank"
          onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')"
          href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
          <span>Agende sua consulta</span>
        </a> -->

        <%- include('contato', { buttonId: 'dialog3' }); %>

      </div>

    </div>

  </div>
</div>