<div class="container">

  <div class="row-1">
    <div class="titulo">
      <h2>
        Estrutura moderna e ambiente inovador, com o
        melhor time de dentistas em <strong>Ouro Preto</strong>.
      </h2>
    </div>
  </div>

  <div class="row-2">
    <div class="row-2-1">
      <div class="box-1">
        <h3>Singular</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at vestibulum neque, id feugiat arcu.
            Pellentesque risus velit, ultricies et posuere congue, porta a tortor.</p>
        </div>
      </div>

      <div class="box-2">
        <h3>Integrada</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at vestibulum neque, id feugiat arcu.
            Pellentesque risus velit, ultricies et posuere congue, porta a tortor.</p>
        </div>
      </div>
    </div>

    <div class="row-2-2">
      <div class="box-3">
        <div class="imagem">
          <span class="foto">
            <img alt="Vista de um dos consultórios da clínica" src="/img/sobre.webp"
              onerror="this.onerror=null;this.src='/img/sobre.jpg'" loading="lazy">
          </span>
        </div>
      </div>

      <div class="box-4">
        <h3>Especialista em você</h3>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at vestibulum neque, id feugiat arcu.
            Pellentesque risus velit, ultricies et posuere congue, porta a tortor.</p>
        </div>
        <a class="action-button" target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
          <span>Vamos agendar uma consulta?</span>
        </a>
      </div>

    </div>

  </div>
</div>