<div class="cta">
  <p class="title">
    Gostou do que viu por aqui?
  </p>

  <p class="text">
    Siga a clínica <strong>Aurora Odontologia</strong> no Instagram e fique por dentro dos melhores conteúdos
    exclusivos sobre odontologia e saúde bucal. Desenvolva de vez a melhor versão do seu sorriso!
  </p>

  <div class="marca">
    <div id="instagram">
      <a href="https://www.instagram.com/aurora.odonto/" target="_blank">
        <img class="icon" src="../../img/instagram-2.svg" alt="instagram" />
        <span>aurora.odonto</span>
        <p class="endereco">Rua José Barbosa Silva, Nº 85 Vila Itacolomy, Ouro Preto, MG 35400-000</p>
      </a>
    </div>

    <div class="logo">
      <img src="../../img/logo.svg" width="118" alt="logo" />
    </div>
  </div>
</div>

<div class="elipse">
</div>