<article>
  <header id="introducao">
    <h1>Dentista em Ouro Preto: conheça as especialidades da Aurora Odontologia</h1>

    <div class="author">
      <address>20/08/2022 por <strong>Equipe Aurora</strong></address>
    </div>

    <div class="imagem-1">
      <img src="/img/blog/dentista-op/dra-luciana-sorrindo-mascara.webp"
        onerror="this.onerror=null;this.src='/img/blog/dentista-op/dra-luciana-sorrindo-mascara.jpg'"
        alt="Doutora Luciana D'Angelo, dentista em Ouro Preto, sorrindo, de máscara, com os braços sobre a mesa e as mãos entrelaçadas.">
    </div>

    <p>
      Procurando por um <strong>dentista em Ouro Preto</strong> que seja ideal para você? No momento de escolher uma
      clínica odontológica, é normal ficar preocupado com a formação dos profissionais e se o local oferece um
      atendimento humanizado e especializado.
    </p>

    <p>
      Bem, nós podemos te ajudar com isso! Vamos te mostrar como é o atendimento na <a
        href="https://auroraodontologia.com.br">Aurora Odontologia</a> e quais as
      especialidades da nossa clínica. Tudo para que você tenha ainda mais certeza dessa escolha.
    </p>
  </header>

  <section id="dentistaop">
    <h2>Dentista em Ouro Preto: o que devo saber antes de buscar?</h2>

    <p>
      Sabe quando dizemos que <i>“um sorriso muda tudo”</i> ? Não é somente pela estética: a <a
        href="https://auroraodontologia.com.br/#especialidades" target="_blank">saúde bucal</a> também é muito
      importante. Afinal, ao sorrirmos, também estamos passando uma mensagem sobre a saúde do nosso corpo. </p>

    <p>
      Então, para começar a cuidar muito bem do seu sorriso, é essencial ser <strong>avaliado pelo profissional
        certo</strong>. Isso faz toda a diferença em um tratamento odontológico.
    </p>

    <p>Sendo assim, como escolher esse dentista em Ouro Preto? Vamos às dicas logo abaixo!</p>

    <h3>4 dicas antes de pesquisar pelo profissional certo</h3>

    <ul>
      <li>Tenha certeza que o profissional terá disponibilidade para acompanhar sua saúde bucal.</li>
      <li>
        Prefira os profissionais que avaliam sua boca como um todo, inclusive te orientando sobre outras
        especialidades.
      </li>
      <li>Pense na comodidade e busque por uma clínica que ofereça diversas soluções em um único lugar.</li>
      <li>
        Busque por um local organizado, com equipamentos de alta tecnologia, bem higienizado e que valorize o
        bem-estar.
      </li>
    </ul>

    <p>Viu só como esses pontos são importantes na sua pesquisa? </p>

    <p>
      Outra dica valiosa: escolha uma clínica que ofereça um <strong>ambiente seguro e confortável</strong>. Aqui, na
      Aurora Odontologia, nem precisamos falar que a estrutura é completa, né? Veja algumas fotos.
    </p>

    <div class="img-clinica">
      <img src="/img/blog/dentista-op/vista-consultorio.webp"
        onerror="this.onerror=null;this.src='/img/blog/dentista-op/vista-consultorio.jpg'" loading="lazy"
        alt="Vista de um dos consultórios na Aurora Odontologia">

      <img src="/img/blog/dentista-op/foto-recepcao-interno-dia.webp"
        onerror="this.onerror=null;this.src='/img/blog/dentista-op/foto-recepcao-interno-dia.jpg'" loading="lazy"
        alt="Foto da recepção da Aurora Odontologia, vista do lado interno da clínica, de dia">
    </div>

    <p>
      Além dessas dicas, vale dar uma olhada no site, redes sociais e avaliações das clínicas odontológicas que você
      está pesquisando.
    </p>

    <p>
      Por falar nisso, já conhece nosso instagram? Siga a gente por lá: <a
        href="https://www.instagram.com/aurora.odonto/" target="_blank">@aurora.odonto</a>!
    </p>
  </section>

  <section id="aurora">
    <h2>Por que escolher a Aurora Odontologia em Ouro Preto?</h2>

    <p>
      Bom, se você está buscando por uma clínica que atenda todos esses requisitos ao escolher um dentista em Ouro
      Preto, você deve considerar a Aurora Odontologia. Quer dar uma olhadinha nos motivos?
    </p>

    <h3>Temos estrutura e tecnologia</h3>

    <p>
      Além da referência como dentista em Ouro Preto, também temos <strong> <a
          href="https://www.auroraodontologia.com.br/#estrutura" target="_blank">estrutura</a> e equipamentos de alta
        tecnologia</strong>. Tudo para garantir tratamentos seguros e eficientes para os pacientes.
    </p>

    <p>
      Também fazemos questão que todos sintam-se confortáveis em cadeiras odontológicas aconchegantes e em um
      consultório de alto padrão e organizado. Sem falar nos recursos e tratamentos especializados, como os alinhadores
      invisíveis.
    </p>

    <h3>Dra. Luciana D'Angelo é bem recomendada como dentista em Ouro Preto</h3>

    <div class="img-comentario">
      <img src="/img/blog/dentista-op/comentario-paciente-aurora.webp"
        onerror="this.onerror=null;this.src='/img/blog/dentista-op/comentario-paciente-aurora.jpg'" loading="lazy"
        alt="Montagem com a captura de um comentário de avaliação positiva da Dra. Luciana, dentista em Ouro Preto, que diz: Excelente atendimento. Dra Luciana é muito atenciosa e ainda me deu um kit super fofo. Clínica linda e charmosa de Ouro Preto">
    </div>

    <p>
      Feedbacks são sempre muito importantes para o nosso trabalho. Aliás, a confiança e a amizade que a Dra. Luciana
      D'Angelo e sua equipe construíram com os pacientes podem ser vistas nas <strong>recomendações que recebemos no
        Google</strong>.
    </p>

    <p>
      Vale dizer que essas avaliações são todas validadas. Inclusive, também separamos alguns <a
        href="https://www.auroraodontologia.com.br/#depoimentos" target="_blank">depoimentos dos nossos
        pacientes</a> no nosso site, é só dar uma olhadinha por lá!
    </p>

    <h3>Nosso atendimento é qualificado e humanizado</h3>

    <p>
      Antes de tudo, para ter uma boa experiência com um dentista em Ouro Preto, é essencial receber um atendimento
      humanizado. Ou seja, ser consultado por um profissional que se preocupa em falar com
      <strong>clareza e empatia com os pacientes</strong>.
    </p>

    <p>
      Isso é ainda mais importante quando o atendimento é com crianças ou idosos. Já pensou nisso? Pois é! Temos
      protocolos adequados para que todos se sintam confortáveis.
    </p>

    <h3>Levamos experiência em odontologia para Ouro Preto</h3>

    <p>
      Sem dúvida, aqui temos experiência. A Dra. Luciana D'Angelo, responsável pela Aurora Odontologia, tem
      <strong>anos de atuação</strong> nas cidades de Juiz de Fora, Barbacena e Mariana. Agora, Ouro Preto tem uma
      estrutura e atendimento de uma clínica multidisciplinar.
    </p>

    <p>
      Além da experiência, vale dizer que os atendimentos são personalizados e seguem todos os protocolos de segurança
      e saúde. Responsabilidade é super importante!
    </p>

    <h3>Temos uma equipe integrada</h3>

    <p>
      Na Aurora Odontologia, você tem uma equipe formada pelos melhores dentistas especialistas em Ouro Preto à sua
      disposição. Um time <strong>multidisciplinar, integrado</strong> e com um ambiente de trabalho organizado.
    </p>

    <h3>Nosso foco é ser especialista no seu sorriso</h3>

    <p>
      Por fim, vale dizer que cada sorriso é único. Um bom dentista em Ouro Preto é aquele que sabe oferecer um
      <strong>acompanhamento personalizado</strong>, com foco nas necessidades de cada pessoa. Pense nisso.
    </p>

    <p>
      Aqui, somos focados em você, dentro de
      <a href="https://www.auroraodontologia.com.br/#especialidades" target="_blank">várias especialidades</a>.
      É sobre isso que vamos falar a seguir.
    </p>
  </section>

  <section id="especialidades">
    <h2>Quais as especialidades da Aurora Odontologia?</h2>

    <p>
      Temos um <strong>atendimento personalizado em diversas áreas</strong>, o que te permite escolher um dentista em
      Ouro Preto de forma tranquila.
    </p>

    <p>Aqui, seu sorriso tem tratamento completo. Vamos dar uma olhadinha nas especialidades?</p>

    <ul>
      <li><strong>Odontopediatria:</strong> crianças e adolescentes.</li>
      <li><strong>Ortodontia:</strong> aparelhos dentários.</li>
      <li><strong>Estética:</strong> beleza e saúde para o seu sorriso.</li>
      <li><strong>Clínica geral:</strong> prevenção, diagnóstico e tratamento.</li>
      <li><strong>Invisalign:</strong> alinhadores invisíveis.</li>
      <li><strong>Prótese:</strong> devolução do sorriso e autoestima.</li>
      <li><strong>Cirurgia:</strong> procedimentos clínicos e cirurgias bucais.</li>
      <li><strong>Implantodontia:</strong> reabilitação oral por implantes dentários.</li>
      <li><strong>Endodontia:</strong> tratamento de canal.</li>
      <li><strong>Periodontia:</strong> tratamentos da saúde gengival.</li>
      <li><strong>Clareamentos:</strong> procedimento estético realizado no consultório associado ao tratamento caseiro,
        sempre com acompanhamento da Dra. Luciana.</li>
    </ul>

    <p>
      Viu só como atuamos em diversas áreas? Mas se você quiser saber sobre algum tratamento específico, é só falar com
      a gente. Temos soluções completas e diagnósticos assertivos para o cuidado do seu sorriso.
    </p>

    <div class="agendar-blog-dentista-op">
      <a id="agendar-blog-dentista-op" class="action-button"
        onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')" target="_blank"
        href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">
        <span>Quero agendar uma consulta</span>
      </a>
    </div>
  </section>

  <section id="draluciana">
    <h2>Conheça a Dra. Luciana D'Angelo</h2>

    <p>
      Responsável pela Aurora Odontologia, <strong>Dra. Luciana</strong> é cirurgiã dentista em Ouro Preto, formada na
      Faculdade de Ciências Médicas e da Saúde de Juiz de Fora e especialista em ortodontia, com foco em um atendimento
      personalizado de forma integrada.
    </p>

    <div class="img-draluciana">
      <img src="/img/blog/dentista-op/dra-luciana-sorrindo-sem-mascara.webp"
        onerror="this.onerror=null;this.src='/img/blog/dentista-op/dra-luciana-sorrindo-sem-mascara.jpg'" loading="lazy"
        alt="Dra. Luciana sorrindo, sem máscara, na Clínica Aurora">

      <blockquote>
        "Meu intuito é oferecer soluções integradas e, acima de tudo, com foco na singularidade de cada sorriso. É por
        isso que nossa marca Aurora Odontologia traz muito forte esse conceito."
      </blockquote>
    </div>

    <p>
      Além de contar com profissionais comprometidos com a harmonia do seu sorriso, a Dra. Luciana acredita na
      importância de uma clínica humanizada, tendo como propósito oferecer uma
      <strong>saúde bucal de excelência</strong>. Afinal, com tantas ofertas no mercado, os pacientes merecem (e devem!)
      receber esse tipo de atendimento.
    </p>
  </section>

  <section id="agendar">
    <h2>Como agendar uma consulta na Aurora Odontologia?</h2>

    <p>
      Agora que você entendeu a importância de saber buscar um dentista em Ouro Preto e conhece melhor a Aurora
      Odontologia, considere agendar a sua consulta com a gente. Estamos prontos para te oferecer um atendimento
      personalizado e singular, como o seu sorriso merece!
    </p>

    <p>
      <strong>Para agendar, é bem simples!</strong>
      <a id="agendar-blog-dentista-op-link" onclick="gtag_report_conversion('AW-10877445993/nu9eCO6is84DEOnO4sIo')"
        target="_blank" href="https://api.whatsapp.com/send?phone=553135002591&amp;text=">É só falar com a gente pelo
        WhatsApp no (31) 3500-2591</a>.
      Se preferir falar com a gente por telefone, basta ligar nesse mesmo número. 💜💛
    </p>

    <p>Gostou das nossas dicas? Compartilhe nosso conteúdo para que mais pessoas conheçam a Aurora Odontologia.</p>
  </section>

  <%- include('../../partials/common/social-media'); %>
</article>