<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description"
    content="Se você está procurando por um dentista em Ouro Preto, saiba o que considerar antes de fazer sua pesquisa. A Aurora Odontologia pode te ajudar com isso." />
  <meta property="image" content="/img/querymeta.webp" />

  <meta property="og:locale" content="pt_BR" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Procurando por dentista em Ouro Preto, MG?" />
  <meta property="og:description"
    content="Se você está procurando por um dentista em Ouro Preto, saiba o que considerar antes de fazer sua pesquisa. A Aurora Odontologia pode te ajudar com isso." />
  <meta property="og:url" content="https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/" />
  <meta property="og:site_name" content="Aurora Odontologia" />
  <meta property="og:image" content="/img/querymeta.webp">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://auroraodontologia.com.br/blog/ortodontista-em-ouro-preto-mg/">
  <meta property="twitter:title" content="Procurando por um ortodontista (dentista de aparelho) em Ouro Preto, MG?">
  <meta property="twitter:description"
    content="Se você é ouropretano e quer saber como escolher um ortodontista em Ouro Preto para cuidar dos seus dentes, é bom começar a entender como esse profissional trabalha.">
  <meta property="twitter:image" content="/img/querymeta.webp">

  <link rel="canonical" href="https://auroraodontologia.com.br/blog/dentista-em-ouro-preto-mg/" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">

  <title>Dentista em Ouro Preto: conheça as especialidades da Aurora Odontologia</title>

  <% if(GA) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K65XDXS8W3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K65XDXS8W3');</script>
    <% } %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <%- include('partials/main'); %>
  </main>

  <footer>
    <%- include('../partials/common/footer'); %>
  </footer>
</body>

</html>