<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="description"
    content="Se você está procurando por um dentista em Ouro Preto, saiba o que considerar antes de fazer sua pesquisa. A Aurora Odontologia pode te ajudar com isso.”" />
  <meta property="image" content="/public/img/querymeta.png" />
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/<%= cssIndex %>">

  <title>Dentista em Ouro Preto: conheça as especialidades da Aurora Odontologia</title>

  <% if(GA) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K65XDXS8W3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-K65XDXS8W3');</script>
    <% } %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <main>
    <%- include('partials/main'); %>
  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>

</html>